#chat-container {
  display: none;
}
@media (min-width: 768px) {
  #chat-container {
    display: block;
    background-color: rgb(28, 28, 56);
    grid-row: 1;
    grid-column: 2 / 3;
    overflow-y: auto;
  }
}
